#profileOptions {
  box-sizing: border-box;
  background-color: #21252b;
  height: 100%;
  padding: 20px;
  font-size: 15px;
}

#confirmDeleteModal .body {
  margin-bottom: 25px;
}

.blockmode-choices input {
  display: none;
}

.blockmode-choices label {
  cursor: pointer;
  width: 300px;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;

  display: flex;
  justify-content: space-between;
}

.blockmode-choices label > img {
  width: 15px;
  visibility: hidden;
}

.blockmode-choices label:hover {
  background-color: #ffffff31;
}

.blockmode-choices input:checked + label {
  border: 2px solid #ffffff;
}

.blockmode-choices input:checked + label > img {
  visibility: visible;
}

.title-with-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-with-toggle .toggle-switch {
  font-size: 13px;
}

app-select-menu {
  width: 100px;
}

.sched-event-container {
  margin-bottom: 10px;
  width: 100%;
}

.sched-event {
  display: flex;
  align-items: center;
}

.sched-event > p {
  margin: 0 10px;
}

.sched-event-error {
  color: #c51818;
}

.date-input {
  font-size: 15px;
  padding: 10px;
  width: 60px;
}

#addEventBtn {
  width: 100%;
}

#removeEventBtn {
  margin-left: auto;
}

#removeEventBtn > img {
  width: 15px;
}

#exportBtn {
  width: 100%;
}

#deleteProfileBtn {
  border: 2px solid #c51818;
  color: #c51818;
  width: 100%;
  margin-top: 10px;
}

#deleteProfileBtn:hover {
  background-color: #c5181844;
}

.file-upload {
  display: block;
  margin-top: 10px;
  position: relative;
  padding: 0px;
}

.file-upload > input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload > p {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.wait-time-input {
  font-size: 15px;
  padding: 10px;
  width: 30px;
  margin: 0 10px 0 10px;
}