<div id="profileWrapper" *ngIf="selectedProfile && modifiedProfile; else showPrompt">
  <div id="profileContent">
    <div class="title-wrapper">
      <ng-container *ngIf="!isEditingName; else editName">
        <h2 id="profileTitle">{{ selectedProfile.name }}</h2>
        <button class="icon-btn" (click)="handleEditName()">
          <img src="assets/edit.svg" alt="Edit Name">
        </button>
      </ng-container>
      <ng-template #editName>
        <input
          #profileNameInput
          type="text"
          class="textfield"
          [(ngModel)]="editedProfileName"
          (keyup.enter)="handleSaveEditName()"
          (keyup.escape)="handleCancelEditName()"
        >
        <button class="icon-btn" (click)="handleSaveEditName()">
          <img src="assets/confirm-icon.svg" alt="Cancel Edit">
        </button>
        <button class="icon-btn" (click)="handleCancelEditName()">
          <img src="assets/close.svg" alt="Cancel Edit">
        </button>
      </ng-template>
    </div>
    <div id="enableProfile">
      <h2>Enable Profile</h2>
      <label class="toggle-switch">
        <input 
          type="checkbox"
          [(ngModel)]="modifiedProfile.options.isActive"
          (change)="handleUpdateProfile()">
        <span class="slider"></span>
      </label>
    </div>
    <h2>Site List</h2>
    <input
      id="newSiteUrlField"
      placeholder="www.example.com"
      type="text"
      class="textfield"
      [(ngModel)]="newSiteUrl"
      (keyup.enter)="handleAddSite()"
    >
    <button class="text-btn" (click)="handleAddSite()">Add Site</button>
    
    <div id="siteList">
      <div *ngFor="let site of modifiedProfile.sites; let idx = index">
        <div>{{ site.url }}</div>
        <div class="site-action-group">
          <label class="regex-toggle icon-btn">
            <img 
              [src]="site.useRegex ? 'assets/regex-enabled.svg' : 'assets/regex-disabled.svg'"
              [alt]="site.useRegex ? 'Disable Regex' : 'Enable Regex'">
            <input type="checkbox" [(ngModel)]="site.useRegex" (change)="handleUpdateProfile()">
          </label>
          <button class="remove-site-btn icon-btn" (click)="handleRemoveSite(idx)">
            <img src="assets/close.svg" alt="Remove Site">
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-profile-options></app-profile-options>
</div>
<ng-template #showPrompt>
  <div id="createProfilePrompt">
    <h1>No Profiles</h1>
    <p>Create a profile by clicking</p>
    <button id="addProfileBtn" (click)="onCreateProfile.emit()">
      <img src="assets/plus.svg" alt="Add Profile">
    </button>
  </div>
</ng-template>