:host {
  width: 100%;
  height: 100%;
}

#profileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

#profileTitle {
  font-size: 50px;
  margin: 0 20px 10px 10px;
}

.title-wrapper img {
  width: 25px;
}

.title-wrapper > button:not(:last-child) {
  margin-right: 20px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
}

.title-wrapper .textfield {
  font-size: 50px;
  font-weight: bold;
  margin-right: 20px;
  padding: 10px;
  padding-top: 0px;
}

#profileContent {
  overflow-y: auto;
  flex-grow: 1;
  padding: 30px 50px;
}

#newSiteUrlField {
  padding: 10px;
  font-size: 15px;
  width: 400px;
  margin-right: 10px;
}

#newSiteUrlField::placeholder {
  color: rgba(255, 255, 255, 0.507);
}

.options-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

#siteList {
  margin-top: 20px;
  font-size: 15px;
}

#siteList > div {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-between;
  background-color: #ffffff08;
}

#siteList > div:first-child {
  border-radius: 6px 6px 0 0;
}

#siteList > div:last-child {
  border-radius: 0 0 6px 6px;
}

#siteList > div:nth-child(even) {
  background-color: #ffffff15;
}

.remove-site-btn > img {
  width: 15px;
}

#createProfilePrompt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(165, 165, 165);
}

#createProfilePrompt h1 {
  margin: 0;
  font-size: 30px;
}

#createProfilePrompt p {
  font-size: 15px;
}

#confirmDeleteModal h1 {
  margin-top: 0;
}

#addProfileBtn {
  background: rgb(255,221,85);
  background: linear-gradient(162deg, rgba(255,221,85,1) 0%, rgba(255,127,42,1) 100%);
  border: none;
  border-radius: 6px;
  padding: 3px 3px 0 3px;
  cursor: pointer;
}

#addProfileBtn > img {
  background-color: #282c34;
  border-radius: 3px;
  width: 15px;
  padding: 8px 100px;
}

#addProfileBtn > img:hover {
  opacity: 90%;
}

#enableProfile {
  display: flex;
  align-items: center;
}

#enableProfile h2 {
  margin-right: 20px;
}

#enableProfile .toggle-switch {
  font-size: 15px;
}