:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.leftbar {
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  flex-shrink: 0;
}

.leftbar .top {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.leftbar h3 {
  padding: 10px 0 0 20px;
}

.leftbar .text-btn {
  margin: 20px;
  margin-top: 0px;
  flex-shrink: 0;
}

.logo {
  font-size: 28px;
  font-weight: 300px;
  display: flex;
  align-items: center;
  background-color: var(--background-6);
  padding: 18px;
}

.logo-icon {
  margin-right: 16px;
  width: 45px;
}

.selector {
  position: absolute;
  background-color: var(--background-secondary-hover);
  pointer-events: none;
  /* transition: all 0.1s;
  transition-timing-function: cubic-bezier(.17,.67,.36,1); */
  padding: 0 15px 0 50px;
  display: flex;
  align-items: center;
  font-size: 15px;
  min-width: 250px;
}

.profiles {
  overflow-y: auto;
  margin-bottom: 20px;
}

.profile-selection {
  box-sizing: border-box;
  font-size: 15px;
  color: var(--on-background);
  background: var(--background-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  cursor: pointer;
}

.profile-selection.selected {
  background-color: var(--background-primary);
}

/* .profile-selection:hover {
  background-color: var(--background-secondary-hover);
  cursor: pointer;
  width: fit-content;
  min-width: 250px;
} */

.profile-selection,.profile-selection:visited {
  text-decoration: inherit;
  color: var(--on-background);
}

.profile-selection .marker {
  width: 5px;
  height: 100%;
  margin-right: 6px;
  border-radius: 0 100px 100px 0;
  flex-shrink: 0;
  z-index: 1001;
}

.profile-selection .drag-handle {
  width: 8px;
  height: 100%;
  margin-right: 6px;
  z-index: 1001;
  opacity: 0;
  cursor: move;
  flex-shrink: 0;
}

.profile-selection.selected .marker {
  background: var(--primary);
}

.profile-selection .name {
  margin: 0 15px;
}

/* .profile-selection:hover .name {
  overflow: visible;
} */

.profile-selection .statusCircle {
  height: 10px;
  width: 10px;
  background-color: var(--disabled);
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin: 15px 0;
  z-index: 1001;
}

.profile-selection .statusCircle.active {
  background-color: var(--enabled);
}

/* .profile-selection .expanded-text {
  position: absolute;
  top: 0;
  left: 50px;
  height: 48px;
  background-color: var(--background-secondary-hover);
  z-index: 1000;
} */

#newProfileModal .textfield {
  width: 300px;
}

#errorModal {
  z-index: 1100;
}

#errorModal button {
  float: right;
  margin-top: 20px;
}

.create-profile-prompt {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.create-profile-prompt h3 {
  font-size: 16px;
}

.create-profile-prompt .text-btn {
  margin-top: 10px;
  width: 200px;
}

.create-profile-prompt img {
  width: 75px;
}


.profiles:not(.cdk-drop-list-dragging) .profile-selection:hover .drag-handle {
  opacity: 1;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.profiles.cdk-drop-list-dragging .profile-selection:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
