:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#leftbar {
  padding: 20px;
  background-color: #21252b;
  display: flex;
  flex-direction: column;
}

#addProfileBtn {
  background: rgb(255,221,85);
  background: linear-gradient(162deg, rgba(255,221,85,1) 0%, rgba(255,127,42,1) 100%);
  border: none;
  border-radius: 6px;
  padding: 3px 3px 0 3px;
  cursor: pointer;
}

#addProfileBtn > img {
  background-color: #21252b;
  border-radius: 3px;
  width: 15px;
  padding: 8px 100px;
}

#addProfileBtn > img:hover {
  opacity: 90%;
}

.profile {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile.selected {
  background-color: #ffffff1a;
}

.profile:hover {
  background-color: #ffffff3b;
  cursor: pointer;
}

.profile,.profile:visited {
  text-decoration: inherit;
  color: inherit;
}

.statusCircle {
  height: 10px;
  width: 10px;
  background-color: #a0a0a0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.statusCircle.active {
  background-color: #25c225;
}

#newProfileModal label {
  display: block;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

#newProfileModal .textfield {
  width: 300px;
  height: 30px;
}

#errorModal {
  z-index: 1100;
}

#errorModal button {
  float: right;
  margin-top: 20px;
}