:host {
  z-index: 5000;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  backdrop-filter: blur(3px) saturate(50%);
  -webkit-backdrop-filter: blur(3px) saturate(50%);
  background-color: rgba(17, 25, 40, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadein 0.1s;
}

.modal-content {
  background-color: var(--background-primary);
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}