/* Global stylesheet */

:root {
  --background-primary: #292e38;
  --background-secondary: #21252b;
  --background-3: #3a414b;
  --background-4: #2f3748;
  --background-5: #2b3343;
  --background-6: #171a1f;
  --background-secondary-hover: #54575c;
  --background-3-hover: #ffffff1f;
  --primary: #165ae4;
  --primary-hover: #3d7eff;
  --secondary: #dfdfdf;
  --danger: #c51818;
  --disabled: #a0a0a0;
  --placeholder: #8d8d8d;
  --scrollbar: #cbcbcb;
  --enabled: #25c225;
  --scrollbar-hover: #999999;
  --scrollbar-click: #5c5c5c;
  --on-background: #dfdfdf;
  --on-background-muted: #cbcbcb;
  --on-background-muted-x2: #8b8b8b;
  --on-primary: #dfdfdf;
  --on-secondary: #14213d;
  --on-danger: #14213d;
  --on-disabled: #14213d;
  --on-enabled: #14213d;
}



*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-primary);
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
}



*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--background-3);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--on-background-muted);
  border-radius: 20px;
  border: 3px solid var(--background-3);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover)
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-click);
}



h1 {
  font-weight: 500;
  font-size: 48px;
}

h2, h3 {
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

h2 {
  color: var(--on-background);
  font-size: 22px;
  font-weight: bold;
}

h3 {
  color: var(--on-background-muted);
  font-size: 15px;
  font-weight: 500;
}



.icon-btn {
  background: none;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn:hover {
  cursor: pointer;
}

.icon-btn img {
  transition: transform 0.25s ease-in-out;
}

.icon-btn:hover img {
  transform: scale(1.2);
}



.text-btn {
  border: none;
  background: var(--primary);
  border-radius: 6px;
  color: var(--on-primary);
  font-weight: bold;
  font-size: 15px;
  padding: 0 15px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-btn.secondary {
  border: 2px solid var(--secondary);
  background: none;
  color: var(--secondary);
}

.text-btn.danger {
  border: 2px solid var(--danger);
  background: none;
  color: var(--danger);
}

.text-btn:hover {
  cursor: pointer;
  background: var(--primary-hover);
}

.text-btn.secondary:hover {
  color: var(--on-secondary);
  background: var(--secondary);
}

.text-btn.danger:hover {
  background-color: var(--danger);
  color: var(--on-danger);
}

.text-btn:disabled {
  color: var(--disabled);
  border-color: var(--disabled);
  cursor: not-allowed;
}

a.text-btn {
  box-sizing: border-box;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.text-btn:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.textfield {
  background: none;
  border: 0.3px solid var(--on-background-muted);
  color: var(--on-background);
  font-family: inherit;
  border-radius: 6px;
  font-size: 13px;
  height: 43px;
  padding: 10px;
}

.textfield::placeholder {
  color: var(--placeholder);
}



.file-upload {
  display: block;
  position: relative;
  padding: 0px;
}

.file-upload > input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload > p {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}



app-modal .actions {
  margin-top: 20px;
}

app-modal .btn-group {
  display: flex;
  flex-direction: row;
}

app-modal .btn-group.right {
  justify-content: flex-end;
}

app-modal .btn-group.ends {
  justify-content: space-between;
}

app-modal .btn-group button:not(:last-child) {
  margin-right: 10px;
}

app-modal .title {
  margin-top: 0;
}

app-modal .body {
  font-size: 15px;
}


.toggle-switch > input {
  display: none;
}

.toggle-switch {
  width: 75px;
  height: 40px;
  display: block;
  position: relative;
  cursor: pointer;
}

.toggle-switch.small {
  height: 25px;
  width: 60px;
}

.toggle-switch > .slider {
  background-color: var(--background-3);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: 0.25s;
}

.toggle-switch > .slider::before {
  position: absolute;
  content: "Off";
  top: 4px;
  left: 4px;
  width: 45px;
  height: 32px;
  background-color: var(--secondary);
  border-radius: 4px;
  color: var(--background-3);
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: 0.25s;
}

.toggle-switch.small > .slider::before {
  width: 30px;
  height: 17px;
}

.toggle-switch > input:checked + .slider {
  background-color: var(--enabled);
}

.toggle-switch > input:checked + .slider::before {
  content: "On";
  color: var(--enabled);
  transform: translateX(22px);
}



.overflowable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}